/* src/App.css */

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Fun, child-friendly font */
  color: #333; /* Darker text for better readability */
}

.App {
  text-align: center;
  padding: 10px;
  background: url('/public/background.png') no-repeat center center fixed; /* Add your background image here */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the background covers the entire height of the viewport */
  text-align: center;
  padding: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Fun, child-friendly font */
  box-sizing: border-box;
}

/* Header Styles */
.App-header {
  background-color: #00aeff; /* Blue header */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
}

.App-header h1 {
  font-size: 3em;
  color: #ff4500; /* Orange color for the main title */
}

.jigsaw-badge {
  margin: 25px;
}

/* Start Page Styles */
.start-page-title {
  font-size: 4em;
  align-items: center;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.start-page-description {
  font-size: 2em;
  padding: 50px;
}

.start-page button {
  background-color: #32cd32; /* Green button */
  border: none;
  padding: 15px 50px;
  font-size: 2em;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-page button:hover {
  background-color: #228b22; /* Darker green on hover */
}

/* Character and Setting Page Styles */
.ideas-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 600px; /* Adjust as needed */
}


.idea-tile {
  background-color: #ffffff;
  padding: 15px;
  border: 2px solid #00aeff; /* Blue border */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
  cursor: pointer;
  transition: transform 0.3s ease;
  padding-top: 25%;
  padding-bottom: 25%;
  font-size: 1.5em;
}

.idea-tile:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.idea-tile.selected {
  background-color: #00aeff; /* Highlight selected tile */
}

/* Story Page Styles */
.story-page {
  background-color: white;
  color: #333; /* Darker text for better readability */
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Fun, child-friendly font */
}

.story-page h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #ff4500; /* Orange color for the title */
}

.story-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-chunk {
  font-size: 1.5em;
  margin: 10px 0px;
  padding: 0 25px 0 25px;
  background-color: #fff;
  border: 2px solid #a423e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
  width: 80%;
  max-width: 800px;
  text-align: left;
}

.story-image img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.story-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 80%;
  max-width: 800px;
}

.story-navigation button {
  background-color: #fff; /* White background */
  border: 2px solid #a423e0; /* Purple border */
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  color: #000000; /* Purple text */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.restart-button {
  background-color: #32cd32; /* Green button */
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.story-navigation button:hover {
  background-color: #a423e0; /* Purple background on hover */
  color: #fff; /* White text on hover */
}


/* Error Message Styles */
.error-message {
  color: red;
  font-size: 1.2em;
  margin-top: 20px;
}

.character-page button {
  background-color: #32cd32; /* Green button */
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.character-page button:hover {
  background-color: #228b22; /* Darker green on hover */
}

.setting-page button {
  background-color: #32cd32; /* Green button */
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.setting-page button:hover {
  background-color: #228b22; /* Darker green on hover */
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner p {
  margin-top: 10px;
  font-size: 1.2em;
  color: #3498db; /* Blue */
}

.loading-spinner p {
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Fun, child-friendly font */
}
